// Colors
$green: #3e442b;
$grey: #74767f;

// Normalize DOM
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0 140px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 36px;
  color: $grey;
  height: 100vh;
  display: block;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &::before {
    background-image: linear-gradient(to bottom, transparent, white);
    opacity: 1;
    z-index: -100;
  }
  &::after {
    background: url("http://res.cloudinary.com/mackmmiller-com/image/upload/v1526259690/alexandre-debieve-561298-unsplash.jpg")
      center center no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -1000;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 125px;
}

.highlight {
  color: $green;
  font-weight: bold;
}

// Header
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 350px;
}

nav {
  padding: 24px 0;
  ul {
    display: flex;
    align-items: center;
    li:nth-child(1) {
      margin-right: auto;
    }
    a {
      color: $grey;
      text-decoration: none;
      margin: 10px;
      text-transform: uppercase;
      font-size: 24px;
      letter-spacing: 2px;
    }
  }
}

.container {
  align-self: center;
  padding-top: 150px;
  h1 {
    font-size: 36px;
    font-weight: medium;
    color: $grey;
  }
  .bubble {
    // margin-left: 18px;
    background: $green;
    color: white;
    padding: 12px 24px;
    min-width: 150px;
    max-width: 200px;
    border-radius: 50px;
    text-align: center;
  }
}

// Services
#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}

.service-header {
  max-width: 780px;
  text-align: center;
  margin: auto;
}

.areas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    padding-top: 100px;
    text-align: center;
  }
  .etc {
    padding-top: 50px;
  }
  h2,
  .etc {
    display: inline-block;
    margin: auto;
  }
}

.lists {
  padding: 30px 0;
  display: flex;
  text-align: center;
  margin: auto;
  ul > li {
    padding: 10px;
    max-width: 450px;
  }
}

// Reviews
.review-header {
  text-align: center;
  &:nth-child(2) {
    padding-top: 40px;
  }
}

.slider {
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.current-review {
  width: 600px;
  height: 370px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

// Contact
#contact {
  padding-bottom: 125px;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  ul {
    li {
      padding: 12px 0 12px 25px;
    }
  }
}
button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  .arrow {
    width: 40px;
  }
  .right {
    transform: rotate(180deg);
  }
}
.resp-container {
  width: 400;
  height: 300;
  .resp-iframe {
    height: 100%;
    width: 100%;
    border-radius: 6px;
  }
}

// Footer
footer {
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  background: $green;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  text-align: center;
  p {
    padding-top: 30px;
  }
  .signature {
    color: white;
    text-decoration: none;
    &::before {
      content: "<";
      visibility: hidden;
    }
    &::after {
      content: ">";
      visibility: hidden;
    }
    &:hover {
      &::before {
        visibility: initial;
      }
      &::after {
        visibility: initial;
      }
    }
  }
}

///////////////////////////////////////////////////////////
///////////////        Small Screens        ///////////////
///////////////////////////////////////////////////////////

@media screen and (max-width: 600px) {
  body {
    padding: 0 15px;
    font-size: 18px;
  }

  header {
    .nav-link {
      display: none;
    }
    .container {
      text-align: center;
      .avoidbreak {
        display: inline-block;
      }
      .bubble {
        display: block;
        margin: auto;
      }
    }
  }

  #services {
    .areas {
      .lists {
        flex-direction: column;
      }
    }
  }

  #reviews {
    .review-header {
      font-size: 24px;
    }
  }

  #contact {
    flex-direction: column;
    .resp-container {
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    padding: 0 20px;
    font-size: 24px;
  }

  header {
    nav ul {
      li:nth-child(1) {
        margin: auto;
      }
    }
    .logo {
      width: 240px;
    }
    .nav-link {
      display: none;
    }
    .container {
      text-align: center;
      .avoidbreak {
        display: inline-block;
      }
      .bubble {
        display: block;
        margin: auto;
      }
    }
  }
}
